{% load staticfiles %}
<html>
    <head>
        <title>My first blog</title>
				<meta charset="utf-8">
			  <meta name="viewport" content="width=device-width, initial-scale=1">
			  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>

      <div class="page-header">
				<nav class="navbar navbar-inverse">
				  <div class="container">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="/"><h2>Welcome to my First Blog</h2></a>
				    </div>
				    <ul class="nav navbar-nav">
				      <li><a href="/">Home</a></li>
							{% if user.is_authenticated %}
					      <li><a href="{% url 'post_new' %}">Add Post</a></li>
								<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi {{ request.user|capfirst }} <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="{% url 'edit_profile' %}">Edit your Profile</a></li>
										<li><a href="{% url 'account:logout_user' %}">Logout</a></li>
										<!-- <li><a href="#">Page 1-3</a></li> -->
									</ul>
								</li>
								{% else %}
								<li><a href="{% url 'account:login_user' %}">Login</a></li>
								{% endif %}
				    </ul>
						<form class="form-inline my-2 my-lg-0" method="POST" action="/">
							{% csrf_token %}
							<div class="form-group">
				      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search by Title" aria-label="Search">
				      <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</div>
				    </form>
				  </div>
				</nav>
			</div>

      <div class="container">
          <div class="row">
              <div class="col-md-12">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
  </body>
</html>
