{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
                <p> Post created by: {{ post.author }}
            </div>
        {% endif %}
        {% if request.user == post.author %}
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <div class="row gallery">
            {% for p in post.images_set.all %}
            <div class="col-md-6">
                <img src="{{ p.image.url }}" alt="Image not found" class="img-thumbnail">
            </div>
            {% endfor %}
        </div>
        {% if request.user == post.author %}
        <a class="btn btn-default" href="{% url 'post_del' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
        {% endif %}
            
    </div>
{% endblock %}
