{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post">

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
			<div class="date" style="float: right;">
        <p>published: {{ post.published_date }}</p>
      </div>
			<p> {{ post.text|slice:":120"}}....</p>
      <hr>
    </div>
  {% endfor %}
{% endblock %}
