{% extends 'blog/base.html' %}

{% block content %}
	<div class="panel panel-default">

			<div class="panel-heading"><h2>Register for an Account</h2></div>
		    {% if error_message %}
		        <p><strong>{{ error_message }}</strong></p>
		    {% endif %}
		<div class="panel-body">
		    <form action="" method="post">
		        {% csrf_token %}
		        <div class="row">
  					<div class="col-md-2">
		        	<b>Username: </b>
		        	</div>
		        	<div class="col-md-10">
		        	{{form.username}}
		        	</div>
		        </div>
				<br>
		      	<div class="row">
  					<div class="col-md-2">
		        	<b>Email: </b>
		        	</div>
		        	<div class="col-md-10">
		        	{{form.email}}
		        	</div>
		        </div>
		        <br>
		        <div class="row">
  					<div class="col-md-2">
		        	<b>Password: </b>
		        	</div>
		        	<div class="col-md-10">
		        	{{form.password}}
		        	</div>
		        </div>
		        <div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
		                <button class="btn" type="submit"><span class="abc">Register</span></button>
		            </div>
		        </div>
		    </form>
		</div>
		 <div class="panel-footer">
            Already have an Account?? <a href="{% url 'account:login_user' %}">Click here</a> to Login.
        </div>
	</div>
{% endblock %}
